<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <div class="vert"> 
        <img src="togo.png" alt="togologo" style="margin-left: 50px; margin-top: 10px;">
        <img src="ceni.png" alt="2lion">
        
    </div>
    <div class="white-band"></div>
    <div class="contener">
        <div class="defil">
           <h1>ENREGISTRER VOUS 🇹🇬️🇹🇬️</h1>
        </div>
        <!-- <video id="background-video" autoplay loop muted
                <source src="drapeau.mp4" type="video/mp4">
        </video> -->
        <div class="back">
        <div class="compt">
            
                <form action="">
                    <div class="infop">
                        <label for="nom">Nom complet</label><br/>
                        <br/>
                        <input type="text" name="" id="nom" placeholder="nom" required/>
                        <input type="text" name="" id="prenom" placeholder="prenom" required> <br/>
                    </div> 
                    <div class="naiss">
                        <label for="dateN">Date de naissance</label><br/>
                        <br/>
                        <input type="number" id="day" name="day" placeholder="Jour" min="1" max="31" step="1" required/>
                        <select id="month" name="month" required>
                        <option value="" disabled selected>Mois</option>
                        <option value="01">Janvier</option>
                        <option value="02">Février</option>
                        <option value="03">Mars</option>
                        <option value="04">Avril</option>
                        <option value="05">Mai</option>
                        <option value="06">Juin</option>
                        <option value="07">Juillet</option>
                        <option value="08">Août</option>
                        <option value="09">Septembre</option>
                        <option value="10">Octobre</option>
                        <option value="11">Novembre</option>
                        <option value="12">Décembre</option>
                        </select>
                        <input type="number" id="year" name="year" placeholder="Année" min="1900" max="2099" step="1" required/>
                        <select id="genre" name="genre" required>
                            <option value="" disabled selected>genre</option>
                            <option value="Homme">Homme</option>
                            <option value="Femme">Femme</option>
                            <option value="Autre">Autre</option>
                        </select>
                    </div>
                    <div class="info">
                        <label for="lieuN">Lieu de naissance</label><br/>
                        <br/>
                        <input type="text" name="" id="lieuN" placeholder="lieu de naissance" required/><br/>
                        <br/> 
                        <label for="add">Address</label><br/>
                        <br/>
                        <input type="text" name="" id="add" placeholder="address" required/><br/>
                        <br/> 
                        <label for="prof">Profession</label><br/>
                        <br/>
                        <input type="text" name="" id="prof" placeholder="profession" required/><br/>
                    </div>
                    <div class="infopere">
                        <label for="pere">Nom complet du père</label><br/>
                        <br/>
                        <input type="text" name="" id="pere" placeholder="nom" required/>
                        <input type="text" name="" id="pp" placeholder="prenom" required/><br/> 
                    </div>
                    <div class="infomere">
                        <label for="mere">nom complet de la mere</label><br/>
                        <br/>
                        <input type="text" name="" id="mere" placeholder="nom" required/>
                        <input type="text" name="" id="pm" placeholder="prenom" required/><br/> 
                    </div>
                    <div class="but">
                        <input type="submit" value="Valider"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>